<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AMS - Shops </title>
<link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}"  type="text/css" />
			
            
<script type="text/javascript" src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../../static/js/slider.js" th:src="@{/js/slider.js}"></script>
<script type="text/javascript" src="../../static/js/superfish.js" th:src="@{/js/superfish.js}"></script>

<script type="text/javascript" src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>

</head>

<body class="noheader">
<div id="container">

    <div th:replace="header :: theheader"></div>
        
    <div id="nav">
    	<ul class="sf-menu dropdown">
        	<li><a href="index.html" th:href="@{/}">Accueil</a></li>
            <li><a class="has_submenu" href="#"  >Marché</a>
            	<ul>
                	<li><a href="../workbench/shops.html" th:href="@{/workbench/shops}">Boutiques</a></li>
                    <li><a href="../workbench/tenants.html" th:href="@{/workbench/tenants}">Locataires</a></li>
                </ul>
            </li>
            <li class="selected"><a class="has_submenu" href="#">Administration</a>
            	<ul>
                	<li class="selected"><a href="shopsadmin.html" th:href="@{/admin/shopsadmin}">Boutiques</a></li>
                	<li><a href="tenantsadmin.html" th:href="@{/admin/tenantsadmin}">Locataires</a></li>
                    <li><a href="#">Employés</a></li>
                    <li><a href="#">Utilisateurs</a></li>
                </ul>
            </li>
            <li><a href="#">Aide</a></li>
            <li  style="margin-left: 50px; margin-top: 10px;">
            	<form action="#" th:action="@{/logout}" method="post">
            		<input type="submit" value="Déconnexion"/>
            	</form>
            </li>
        </ul>
    </div>
        
    <div id="body">
        <div id="breadcrumbs">
            <a href="index.html" th:href="@{/}" >Accueil</a> &raquo;
            <a href="index.html" th:href="@{/admin/shopsadmin}" >Admin - Boutiques</a> &raquo;
            <strong>Création Boutique</strong>
        </div>
            
		<div id="content">
            <div class="box">
            
				<h1>Nouvelle Boutique</h1>

				<p>&nbsp;</p>
				
				<fieldset>
					<legend>Formulaire de création</legend>
					<form action="#" th:action="@{/admin/shopcreate}" th:object="${shop}" method="post">
						<p>
							<label for="reference">Référence:</label>
							<input id="reference" type="text" th:field="*{reference}"  />
							<span th:if="${#fields.hasErrors('reference')}" th:errors="*{reference}" class="errorField">Reference required</span>
							<br />
						</p>		
						<p>
							<label for="dimensions">Dimensions:</label>
							<input id="dimensions" type="text" th:field="*{dimensions}"  placeholder="Longueur x Largeur"/><br />
						</p>
						<p>
							<label for="price">Prix Location:</label>
							<input id="price" th:field="*{price}"   type="number" />
							<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errorField">Price positive</span>
							<br />
						</p>
						<p>
							<label for="description">Description:</label>	
							<textarea cols="30" rows="2" id="description" th:field="*{description}"></textarea><br />
						</p>
						<p>
							<label for="picture">Photo:</label>
							<input id="picture" type="text" th:field="*{pictureFileName}"  /><br />
						</p>		
						<p>
							<input class="formbutton" value="Enregistrer" type="submit" />
						</p>
					</form>
				</fieldset>
				
				<p>&nbsp;</p>
				                
            </div>
        </div>
        
        <div class="sidebar">
            <ul>	
               <li>
                    <h4><span>Navigation</span></h4>
                    <ul class="blocklist">
                        <li><a href="index.html" th:href="@{/}">Accueil</a></li>
                        <li><a href="shops.html" th:href="@{/workbench/shops}">Boutiques</a></li>
                        <li><a href="#">Administration</a></li>
                        <li><a href="#">Aide</a></li>
                    </ul>
                </li>               
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
</div>

<div th:replace="footer :: thefooter"></div>

</body>
</html>
