<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AMS - Shops </title>
<link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}"  type="text/css" />
			
            
<script type="text/javascript" src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../../static/js/slider.js" th:src="@{/js/slider.js}"></script>
<script type="text/javascript" src="../../static/js/superfish.js" th:src="@{/js/superfish.js}"></script>

<script type="text/javascript" src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>

</head>

<body class="noheader">
<div id="container">
 
    <div th:replace="header :: theheader"></div>
        
    <div id="nav">
    	<ul class="sf-menu dropdown">
        	<li><a href="index.html" th:href="@{/}">Accueil</a></li>
            <li><a class="has_submenu" href="#"  >Marché</a>
            	<ul>
                	<li><a href="../workbench/shops.html" th:href="@{/workbench/shops}">Boutiques</a></li>
                    <li><a href="../workbench/tenants.html" th:href="@{/workbench/tenants}">Locataires</a></li>
                </ul>
            </li>
            <li class="selected"><a class="has_submenu" href="#">Administration</a>
            	<ul>
                	<li class="selected"><a href="shopsadmin.html" th:href="@{/admin/shopsadmin}">Boutiques</a></li>
                	<li><a href="tenantsadmin.html" th:href="@{/admin/tenantsadmin}">Locataires</a></li>
                    <li><a href="#">Employés</a></li>
                    <li><a href="users.html" th:href="@{/admin/users}">Utilisateurs</a></li>
                </ul>
            </li>
            <li><a href="#">Aide</a></li>
            <li  style="margin-left: 50px; margin-top: 10px;">
            	<form action="#" th:action="@{/logout}" method="post">
            		<input type="submit" value="Déconnexion"/>
            	</form>
            </li>
        </ul>
    </div>
        
    <div id="body">
        <div id="breadcrumbs">
            <a href="index.html" th:href="@{/}" >Accueil</a> &raquo;
            <strong>Admin - Boutiques</strong>
        </div>
            
		<div id="content">
            <div class="box">
            
				<h1>Boutiques</h1>

				<p>&nbsp;</p>
				
				<p th:if="${create_success}">
					<span style="background-color: green; color: white;"  th:utext="#{shop.create.success(${shop.reference})}" >Successfully Created Shop <b th:text="${shop.reference}"></b>  </span>
				</p> 
				
				<p th:if="${delete_success}" >
					<span style="background-color: green; color: white;" th:utext="#{shop.delete.success(${shopref}) }">Successfully Removed Shop ${shopref}</span>
				</p>
				
				<p th:if="${update_success}" >
					<span style="background-color: green; color: white;"  th:utext="#{shop.update.success(${shop.reference})}" >Successfully Updated Shop <b th:text="${shop.reference}"></b>  </span>
				</p>
				
				<span style="float: right;"><a href="shopcreateform.html" th:href="@{/admin/shopcreateform}"><img alt="Add Pic" src="../../static/images/plus.png" th:src="@{/images/plus.png}" title="Ajouter une nouvelle boutique"></a></span>

				<h4>Liste des boutiques dispo</h4>
				<table>
					<tbody>
						<tr>
							<th>Référence</th>
							<th>Dimensions</th>
							<th>Prix Location</th>
							<th align="center">Loué</th>
							<th>Description</th>
							<th>Action</th>
						</tr>
						<tr th:each="shop: ${shops}">
							<td th:text="${shop.reference}">999</td>
							<td th:text="${shop.dimensions}">999X888</td>
							<td th:text="${#numbers.formatInteger(shop.price,4,'WHITESPACE') + ' GNF'}">9 999</td>
							<td align="center">
								<img alt="occupied" src="../../static/images/checked_green.png" th:src="${shop.occupied} ?  @{/images/checked_green.png} : @{/images/checked_red.png}">
							</td>
							<td th:text="${shop.description}">BP 9999 Conakry</td>
							<td align="center"><a href="#"  th:href="@{'/admin/shopupdateform/' + ${shop.id} }"><img title="Modifier" alt="Edit" src="../../static/images/edit.png" th:src="@{/images/edit.png}"></a>&nbsp;&nbsp;<a href="#"  th:href="@{'/admin/shopdel/' + ${shop.id} }" ><img title="Supprimer" alt="Trash" src="../../static/images/trash.png" th:src="@{/images/trash.png}"></a></td>
						</tr>
					</tbody>
				</table>
				<p>&nbsp;</p>
				                
            </div>
        </div>
        
        <div class="sidebar">
            <ul>	
               <li>
                    <h4><span>Navigation</span></h4>
                    <ul class="blocklist">
                        <li><a href="index.html" th:href="@{/}">Accueil</a></li>
                        <li><a href="shopsadmin.html" th:href="@{/admin/shopsadmin}">Boutiques</a></li>
                        <li><a href="tenantsadmin.html" th:href="@{/admin/tenantsadmin}" >Locataires</a></li>
                        <li><a href="#">Aide</a></li>
                    </ul>
                </li>               
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
</div>

<div th:replace="footer :: thefooter"></div>

</body>
</html>
